@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

button {
    background-color: cadetblue;
    color: aliceblue;
    border-radius: 5px;
    padding: 2px 5px;
}